/* Fonts */

@font-face {
  font-family: 'Wash Your Hand';
  src: url(/fonts/wash_your_hand/Wash\Your\Hand.ttf);
}


/* Variables */
:root {
  --navy: #3b4068;
  --medium-navy: #6c709b;
  --lavender: #9a9ad0;
  --light-pastel_lavender: #d9d9fd;
  /* --pastel-purple-pink: #d79bd4; */
  /* --pastel-pink: #ff9ebe; */
  /* --pastel-orange: #ffaf99; */
  --light-pastel-lavender-bg: #efefff;
  --pastel-purple-pink: #b951b4;
  --pastel-pink: #e2487a;
  --pastel-orange: #f58465;
  --background-lavender: #A9A9D8;
  --dark-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Nunito';
  margin: 0;
  overflow-x: hidden;
}

footer {
  &.normal {
    background-image: url("./images/new/footer.png");
    height: 300px;
    background-size: cover;
    position: relative;

    .footer-content {
      position: absolute;
      top: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &.bottom {
    background-image: url("./images/new/footer.png");
    height: auto;
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer-content {
      margin-top: 185px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .footer-content {
    .footer-copyright {
      padding-bottom: 25px;
      width: 300px;
      font-size: 18px;
      color: white;
      ;
    }

    .social-media-links {
      display: flex;
      flex-flow: row;
      gap: 20px;
      align-items: center;
      padding-top: 15px;
      color: lavender;
      width: fit-content;

      .social-media-link img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

path {
  fill: blue;
}

​.bold {
  font-weight: bold;
}

/* .main {
  width: 70%;
  margin: 0% auto;
} */

/* Header */
.top-header {
  width: 100%;
  display: flex;
  flex-flow: row;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  justify-content: space-between;

  .column-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    .logo img {
      width: 150px;
      height: 150px;
    }

    .website-title {
      flex-basis: 80%;
      font-family: 'Boogaloo';
      font-size: 30pt;
      text-wrap: nowrap;
      color: var(--navy);
    }

  }

  .column-2 {
    align-self: center;
    margin-top: 15px;
  }
}

/* Header for sub pages*/
.header-subpages {
  width: 100%;
  display: flex;
  flex-flow: row;

  .column-1 {
    flex-basis: 33%;
  }

  .column-2 {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo img {
      width: 200px;
      height: 200px;
    }

    .website-title {
      flex-basis: 80%;
      font-family: 'Boogaloo';
      font-size: 28pt;
      text-wrap: nowrap;
      color: var(--navy);
    }

  }

  .column-3 {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: end;

    .social-media-links {
      display: flex;
      flex-flow: row;
      gap: 20px;
      align-items: center;
      padding-top: 15px;
      color: lavender;

      .social-media-link img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

/* Navigation bar */
.navbar {
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;

    img {
      width: 150px;

      &:not(.active) {
        visibility: hidden;
      }
    }

    a {
      float: left;
      display: block;
      color: var(--navy);
      text-align: center;
      padding-top: 15px;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 5px;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        color: var(--medium-navy);
      }
    }

    &:hover img {
      visibility: visible;
    }
  }
}

/* Navigation bar for subpages */
.navbar-subpages {
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;

  a {
    float: left;
    display: block;
    color: var(--medium-navy);
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 13pt;

    &:hover {
      color: var(--navy);
    }

    &.active {
      color: var(--navy);
      font-weight: bold;
    }

    &.icon {
      display: none;
    }
  }
}


.nav-divider {
  border-color: var(--light-pastel_lavender);
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

/* Divider */
.divider {
  border-top: 1px solid var(--light-pastel_lavender);
}

.breadcrumbs {
  color: var(--medium-navy);

  a {
    text-decoration: none;
    color: var(--medium-navy);

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    color: var(--navy);
  }
}

/* Banners */
.banner {
  /* width: 100%; */
  /* height: 500px; */
  /* position: absolute; */
  /* left: 0%; */
  /* min-width: 1280px; */
  background-image: url("./images/new/hero-banner.png");
  background-size: cover;
  max-height: 100%;
  width: auto;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;

  .column-1 {
    flex-basis: 50%;
    padding: 100px;

    img {
      max-height: 700px;
      width: auto;
    }
  }

  .column-2 {
    flex-basis: 50%;
    height: fit-content;
    text-align: left;

    .banner-content {
      margin-top: 100px;

      .banner-heading {
        width: 600px;
        color: white;
        text-align: center;
        font-family: 'Boogaloo';
        font-size: 42px;
      }

      .banner-description {
        font-family: 'Nunito';
        font-size: 28px;
        color: white;
        text-align: center;
        width: 600px;
        margin-top: 20px;

        .star-gif {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

.sub-banner {
  background-image: url("./images/sub-banner-website.png");
  background-size: cover;
  max-width: 100%;


  .image-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding: 100px;

    .image-in-carousel {
      flex-grow: 1;
      /* flex-shrink: 2; */
      box-sizing: border-box;
      border: 6px solid rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      min-width: 500px;
      height: 600px;
      object-fit: cover;
    }
  }
}



/* Grid image layout */
.gallery-grid-wrapper {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  grid-auto-flow: dense;
  grid-auto-rows: 400px 500px 300px; */
  /* Controls the width of each grid item in a row. Eg: 1st row: 400px, 2nd row: 500px, 3rd row: 300px */



  gap: 10px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;

  &.three-columns {
    columns: 3;
  }

  &.four-columns {
    columns: 4;
  }

  .grid-image {
    position: relative;
    margin-bottom: 6px;

    img {
      /* object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      animation: fadeIn ease 1s; */

      max-width: 100%;
      height: auto;
      border-radius: 5px;
      animation: fadeIn ease 1s;
    }
  }

  div:nth-child(4n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
}


/* .wrapper .grid-image {
  height: 300px;
  width: 300px;
} */

/* .card-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  width: 100%;
  flex-wrap: wrap;

  .image-card {
    margin: 10px; 
    height: 500px;
    width: 600px;
    background-color: #3b4068;
    box-sizing: border-box;
    flex-grow: 1;
  }
} */

.card-grid {

  &.two-col {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 50px;
    width: 100%;
    flex-wrap: wrap;


    .card {
      position: relative;
      display: block;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      text-decoration: none;
      width: 450px;
      height: 400px;
      box-shadow: var(--dark-shadow);
      flex-grow: 1;

      .card-image {
        width: 100%;
        object-fit: cover;
        height: 400px;
      }

      .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: white;
        transform: translateY(100%);
        transition: .2s ease-in-out;

        .card-header {
          position: relative;
          padding: 10px;
          background-color: white;
          transform: translateY(-100%);
          transition: .2s ease-in-out;
          --mask:
            linear-gradient(to bottom, #0000 30px, #000 0),
            radial-gradient(30px, #000 98%, #0000) top/55.5px 60px;
          -webkit-mask: var(--mask);
          mask: var(--mask);
          /* --mask: 
        linear-gradient(to bottom,#0000 35px,#000 0),
        radial-gradient(35px,#000 98%,#0000) top/64.75px 70px;
      -webkit-mask: var(--mask);
              mask: var(--mask); */
          /* https://css-generators.com/wavy-shapes/ */
          /* --mask:
        radial-gradient(67.08px at 50% 90px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
      -webkit-mask: var(--mask);
              mask: var(--mask); */

          /* .card-arc {
          width: 80px;
          height: 80px;
          position: absolute;
          bottom: 100%;
          right: 0;
          z-index: 1;

         /* Do a wavy border instead */
          /* https://stackoverflow.com/questions/17202548/wavy-shape-with-css */

          .card-header-text {
            color: var(--navy);
            text-align: center;
          }
        }

        .card-description {
          margin-top: -80px;
          text-align: center;
          padding-bottom: 10px;
          color: var(--navy);
        }
      }
    }

    .card:hover .card-overlay {
      transform: translateY(0);
    }

    .card:hover .card-header {
      transform: translateY(-100%);
    }
  }

  &.three-col {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    /* padding-left: 160px;
    padding-right: 160px; */
    padding-top: 50px;
    padding-bottom: 50px;


    .card {
      width: 350px;
      border-radius: 5px;
      border: 1px solid var(--background-lavender);
      transition: transform 100ms ease-out;

      a {
        text-decoration: none;
      }

      .card-image {
        margin: 0;
        border-radius: 5px;

        img {
          width: 100%;
          object-fit: cover;
          max-height: 250px;
          border-radius: 5px 5px 0 0;
        }
      }

      .card-text {
        padding: 15px;
        color: var(--navy);
        font-size: 16px;

        .card-name {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
        }
      }

      &:hover {
        /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); */
        transform: scale(1.10, 1.10);
      }
    }
  }
}

.card-game {
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;

  .card-game-name {
    flex-basis: 100%;
    color: var(--navy);
    /* font-family: 'Boogaloo'; */
    font-size: 26px;
    font-weight: bold;
  }

  .card-game-details {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;

    .card-game-image {
      flex: 45%;
      border-radius: 10px;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .card-game-description {
      flex: 45%;
      color: var(--navy);

      .card-game-status {
        ul {
          list-style: none;
          margin-left: 0;
          padding-left: 0;
        }

        li {
          padding-left: 1em;
          text-indent: -1em;
        }

        li:before {
          content: "✦";
          padding-right: 5px;
        }
      }
    }
  }

  /* .card-game-divider {
    color: var(--lavender);
    text-align: center;
    margin: 0% auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  } */

  .card-game-divider {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      margin-top: 50px;
      margin-bottom: 50px;
      height: 30px;
      width: auto;
    }
  }

  .card-game-screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
      border-radius: 5px;
      width: 500px;
      object-fit: cover;
    }
  }

  .card-game-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

    .link {
      &.blue {
        border: 2px solid #738CC1;
        margin-bottom: 20px;
        border-radius: 5px;
        width: 350px;

        .header {
          font-size: 20px;
          background-color: #E9F5FF;
          border-radius: 5px 5px 0px 0px;
          color: #52658E;
          text-wrap: nowrap;

          .inner-text {
            padding: 15px;
          }
        }

        .inner-content {
          padding: 15px;

          .content {
            font-size: 18px;
            font-weight: 500;

            a {
              text-decoration: none;
              color: #52658E;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      &.purple {
        border: 2px solid var(--lavender);
        margin-bottom: 20px;
        border-radius: 5px;
        width: 350px;

        .header {
          font-size: 20px;
          background-color: #E9E9FF;
          border-radius: 5px 5px 0px 0px;
          color: #675AA3;
          text-wrap: nowrap;

          .inner-text {
            padding: 15px;
          }
        }

        .inner-content {
          padding: 15px;

          .content {
            font-size: 18px;
            font-weight: 500;

            a {
              text-decoration: none;
              color: #675AA3;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      &.pink {
        border: 2px solid #CD9AD0;
        margin-bottom: 20px;
        border-radius: 5px;
        width: 350px;

        .header {
          font-size: 20px;
          background-color: #FDE9FF;
          border-radius: 5px 5px 0px 0px;
          color: #815D80;
          text-wrap: nowrap;

          .inner-text {
            padding: 15px;
          }
        }

        .inner-content {
          padding: 15px;

          .content {
            font-size: 18px;
            font-weight: 500;

            a {
              text-decoration: none;
              color: #815D80;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.profile {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 25px;
  /* align-items: center; */

  .profile-image {
    flex-basis: 40%;

    img {
      max-height: 500px;
      width: auto;
    }
  }

  .profile-description {
    flex: 50%;
    margin-top: 120px;
    color: var(--navy);
  }
}

.contact-info {
  position: relative;

  .contact-description {
    position: absolute;
    left: 25%;
    top: 45%;
    color: #fff;

    p {
      font-size: 18px;
    }

    a {
      color: #fff;
    }
  }

  img {
    /* max-width: 80%; */
    display: block;
    margin: 0 auto;
    height: auto;
    width: 1200px;
  }

}


.illustrations-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .illustrations-header-image {
    width: 250px;

    img {
      width: 100%;
    }
  }

  .illustrations-header-description {
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    color: var(--navy);

  }
}

.illustrations.tabcontent {
  display: none;
}

.illustrations-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 30px;

  .tablinks {
    border: none;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 500;
    background-color: transparent;
    color: var(--navy);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;

    &.active {
      border: none;
      font-size: 18px;
      font-family: 'Nunito';
      font-weight: 500;
      background-color: var(--light-pastel_lavender);
      color: var(--navy);
      border-radius: 10px;
      padding: 5px 10px;
    }

    &:hover {
      background-color: var(--light-pastel-lavender-bg);
    }
  }

}

/* Responsiveness */
@media screen and (max-width: 1040px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .column-2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .website-title {
        margin-top: 0px;
      }
    }
  }

  .navbar {
    width: 100%;
    margin-top: 20px;
    background-color: var(--light-pastel-lavender-bg);
    border-radius: 10px;
  }

  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar-subpages {
    width: 100%;
    margin-top: 20px;
    background-color: var(--light-pastel-lavender-bg);
    border-radius: 10px;
  }

  .navbar-subpages a:not(:first-child) {
    display: none;
  }

  .navbar-subpages a.icon {
    float: right;
    display: block;
  }

  .navbar-subpages.responsive {
    position: relative;
  }

  .navbar-subpages.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar-subpages.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav-divider {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .header {
    .column-2 {
      .job-titles {
        display: none;
      }
    }
  }

  .nav-divider {
    display: none;
  }
}



/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}