/* Fonts */

@font-face {
  font-family: 'Wash Your Hand';
  src: url(/fonts/wash_your_hand/Wash\Your\Hand.ttf);
}

/* Variables */
:root {
  --navy: #3b4068;
  --lavender: #9a9ad0;
  --pastel-purple-pink: #d79bd4;
  --pastel-pink: #ff9ebe;
  --pastel-orange: #ffaf99;
}

body {
  font-family: 'Nunito';
}

path {
  fill: blue;
}

​ .bold {
  font-weight: bold;
}

.main {
  width: 70%;
  margin: 0% auto;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.header .column-1 {
  flex-basis: 10%;
}

.header .column-2 {
  padding-left: 1%;
  flex-basis: 83%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.header .column-1 .logo img {
  width: 180px;
  height: 180px;
}

.header .column-2 .website-title {
  flex-basis: 80%;
  font-family: 'Boogaloo';
  font-size: 32pt;
  margin-top: 30px;
  color: var(--navy);
}

.header .column-2 .social-media-links {
  display: flex;
  flex-flow: row;
  gap: 20px;
  align-items: center;
  padding-top: 15px;
  color: lavender;
}

.header .column-2 .social-media-links .social-media-link img {
  width: 22px;
  height: 22px;
}

.header .column-2 .job-titles {
  flex-basis: 100%;
  display: flex;
  flex-flow: row;
  gap: 20px;
  padding-top: 15px;
}

.header .column-2 .job-titles .seperator {
  color: var(--navy);
}

.header .column-2 .job-titles .job-title-illustrator {
  color: var(--pastel-purple-pink);
}

.header .column-2 .job-titles .job-title-game-designer {
  color: var(--pastel-pink);
}

.header .column-2 .job-titles .job-title-developer {
  color: var(--pastel-orange);
}
